/* FONTS:
font-family: 'Luckiest Guy', cursive;
font-family: 'Ubuntu', sans-serif; */

/* Colors:
#c178a9 */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, #3db6bf, #494682 65%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#map {
  /* TODO: figure out a better height for this */
  height: 100vh;
  width: 50vw;
}

.mapContainer {
    margin-left: 25vw;
}

.header {
    margin-bottom: 5rem;
}

.navigation {
    display: flex;
    justify-content: center;
}

/* #navbar {
    display: flex;
    justify-content: center;
} */

.title {
    color: #fff;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    font-size: 56px;
    margin-top: 5rem;
    text-shadow: 6px 6px #3D3C53;
}

.about {
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    text-align: center;
    margin: 0 auto;
}

/* eh, maybe: */
/* .title:hover {
    text-shadow: none;
    background: -webkit-linear-gradient(#b10f2e, #ff4b3e);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

.footer {
    /* background-color: #c178a9; */
    background-color: #f4f1bb;
    /* color: #fff; */
    color: #3D3C53;
    bottom: 0;
    width: 100%;
    height: 10rem;
}

.footerText p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    text-align: center;
    padding-top: 4rem;
}

.heart {
    color: #e25555;
}

.footerLink,
.footerLink:visited {
    text-decoration: none;
    color: #3D3C53;
}

.footerLink:hover {
    background: -webkit-linear-gradient(45deg,#b10f2e, #ff4b3e);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}