/* FONTS:
font-family: 'Luckiest Guy', cursive;
font-family: 'Ubuntu', sans-serif; */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(35deg, #8F597D, #3D3C53, #8F597D, #3D3C53);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#map {
  /* TODO: figure out a better height for this */
  height: 100vh;
  width: 50vw;
}

.mapContainer {
    margin-left: 25vw;
}

.title {
    color: #fff;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    font-size: 56px;
    margin: 5rem;
    text-shadow: 6px 6px #3D3C53;
}

.title:hover {
    color: #ff4b3e;
}

.footer {
    background-color: #3D3C53;
    color: #fff;
    bottom: 0;
    width: 100%;
    height: 10rem;
}

.footerText p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    text-align: center;
    padding-top: 4rem;
}

.heart {
    color: #e25555;
}

.footerLink,
.footerLink:visited {
    text-decoration: none;
    color: #fff;
}

.footerLink:hover {
    background: -webkit-linear-gradient(45deg,#b10f2e, #ff4b3e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}